<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example_calculator2.dennis.disease_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Dashboard"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Disease"
            android:label="@string/title_activity_disease" />
        <activity
            android:name=".Symptom"
            android:label="@string/title_activity_symptom" />
        <activity
            android:name=".Welcome"
            android:label="@string/title_activity_welcome" />
        <activity android:name=".DisplayListView" />
        <activity android:name=".DisplayListView1" />
        <activity android:name=".FindQuestionnaire" />
        <activity
            android:name=".Questionnaire1"

            android:screenOrientation="landscape" />
        <activity
            android:name=".Questionnaire2"

            android:screenOrientation="landscape" />
        <activity
            android:name=".Questionnaire3"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Questionnaire4"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Questionnaire5"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Questionnaire6"
            android:screenOrientation="landscape" />
        <activity android:name=".Profile" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".Admin" />
        <activity android:name=".DisplayListView2" />
        <activity android:name=".Result_Admin" />
        <activity android:name=".DisplayListViewQ2" />
        <activity android:name=".Result_admin_q1" />
        <activity android:name=".DisplayListViewQ1" />
        <activity android:name=".Result_admin_q3" />
        <activity android:name=".Result_admin_q4" />
        <activity android:name=".Result_admin_q5" />
        <activity android:name=".Result_admin_q6" />
        <activity android:name=".DisplayListViewQ3" />
        <activity android:name=".DisplayListVIewQ4" />
        <activity android:name=".DisplayListViewQ5" />
        <activity android:name=".DisplayListViewQ6"></activity>
    </application>

</manifest>